<div class="d-flex justify-content-center align-items-center mt-3">
  <div class="row align-items-center">
    <div class="col-12 d-flex justify-content-center ">
      <div class="card m-5 me-5 p-2" style="width: 22rem;">
        <img src="assets/registrar.png" class="card-img-top" alt="...">
        <div class="card-body  text-center ">
          <h5 class="card-title ">Registrar Atividade</h5>
        </div>
      </div>

      <div class="card m-5" style="width: 22rem;">
        <img src="assets/registrar.png" class="card-img-top" alt="...">
        <div class="card-body  text-center">
          <h5 class="card-title">Atividades Ativas</h5>
        </div>
      </div>
    </div>
  </div>
</div>
