<div
  class="d-flex flex-column align-self-baseline flex-md-row text-center text-md-start justify-content-between py-3 px-4 px-xl-4 fixed-bottom relative bg-primary">
  <!-- Copyright -->
  <div class="text-white mb-3 mb-md-0">
    Copyright © 2020. All rights reserved.
  </div>
  <!-- Copyright -->

  <!-- Right -->
  <div>
    <a href="#!" class="text-white me-4">
      <i class="fa fa-facebook-f"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fa fa-google"></i>
    </a>
    <a href="#!" class="text-white">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
